#temp2{
    font-weight: bold;
    font-family: sans-serif;
}
#temp1{
    font-weight: normal;
    font-family: Arial;
}

li{
     list-style: circle;

}

.jigsaw{
    height: 200px;
}

.blue{
    color: blue;
}
.green{
    color: green;
}
.red{
    color: red;
}
.purple{
    color: purple;
}

input:invalid {
  border: 2px dashed red;
}