<!doctype html>
<html>
<head>
    <title>Play the game</title>
</head>
<body>
    <form action='/madlib'>
        Enter a person: <input type="text" name="mad_person" required> <br>
        Choose a color: <br>
        <input type="radio" name="color" value="blue" required> Blue<br>
        <input type="radio" name="color" value="green" required> Green<br>
        <input type="radio" name="color" value="purple"required> Purple<br>
        <input type="radio" name="color" value="red" required> Red<br>
        Enter a noun: <input type="text" name= "noun" required> <br>
        Enter a adjective: <input type="text" name= "adj" required> <br>

        Choose some food types:<br>
        <input type="checkbox" name="foods" value="Italian">Italian<br>
        <input type="checkbox" name="foods" value="Chinese">Chinese<br>
        <input type="checkbox" name="foods" value="Mexican">Mexican<br>
        <input type="checkbox" name="foods" value="Korean">Korean<br>
        <input type="checkbox" name="foods" value="Japanese">Japanese<br>
        <input type="submit">
    </form>

</body>
</html>